.App {
  font-family: sans-serif;
  text-align: center;
}
body {
  background-image: #313539;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#story {
  position: absolute;
  left: 50%;
  right: 50%;
  margin-top: 10%;
  background-image: #313539;
  background-position: center;
  background-size: cover;
  outline: none;
  border-style: none;
  height: 100px;
  width: 100px;
  cursor: pointer;
  border-radius: 100%;
}
